body {
  padding: 10px;
  margin: 0px;
}

.main_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  width: 100%;
}

.body_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content_container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  padding: 50px 0px 50px 0px;
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: white;
  border: 1px solid #dedede;
}

.register_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 410px;
  width: 100%;
  background-color: white;
  border: 1px solid #dedede;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Post_container {
  width: 95%;
  border: 1px solid #e0e0e0;
  min-height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 25px;
}

#post-textarea {
  height: 85px;
  resize: none;
}
