{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="main_title_container">
        <h3>
            {{ title }}
        </h3>
    </div>

    <div class="content_container">
        {% if index and user.is_authenticated %}
            <div class="Post_container_1">
                <h4>
                    New Post
                </h4>
                <form id="post-form" method="POST" action="{% url 'newPost' %}">
                    {% csrf_token %}
                    {{post.topic}}
                    {{post.content}}
                    <input type="Submit" value="Post" class="btn btn-primary" style="margin-top: 10px;"/>
                </form>
            </div>
        {% elif user_ == "True" %}
            <div class="Post_container_1">
                <h4>
                    <img src="{% static "network/User.svg" %}" alt="user" id="user_icon">
                    <span id="username">{{ requested_user.username }}</span> profile
                </h4>
                <div class="container_1">
                    <h6> <span id="followers_counter">{{ requested_user.followers.count }}</span> Followers</h6>
                    <h6>{{ requested_user.followings.count }} Followings</h6> 
                    
                    {% if user.is_authenticated and requested_user != request.user %}
                        <div class="follows_container">
                            {% if follow == 'True' %}
                                <img src="{% static "network/unfollow.svg" %}" alt="unfollow" class="follow_icon">
                                <span class="follow_text" style="color: red">Unfollow</span>                                
                            {% else %}
                                <img src="{% static "network/follow.svg" %}" alt="follow" class="follow_icon">
                                <span class="follow_text" style="color: green">Follow</span>
                            {% endif %}
                        </div>        
                    {% endif %}
                </div>
            </div>   
        {% endif %}


        {% for post in posts %}
            <div class="Post_container">
                <h5>
                    {{ post.title }}
                </h5>
                {% if request.user == post.creator %}
                    <a href="#">Edit</a>
                {% endif %}
                <p>
                    {{ post.content }}
                </p>
                <p id="post_creation_date">
                    {{ post.creation_date }} by <a href="{% url 'user' post.creator %}">{{ post.creator }}</a>
                </p>
                {% if user.is_authenticated %}
                <div class="likes_container" title="Like">  
                    {% if liked_post == 'False' %} 
                        <img src="{% static "network/like.svg" %}" alt="like" class="heart_icon">
                    {% else %}
                        <img src="{% static "network/unlike.svg" %}" alt="unlike" class="heart_icon">
                    {% endif %}
                    <span id="likes_counter">
                        {{ post.likes.count }}
                    </span>
                </div>
                {% else %}
                    <div class="likes_container_disabled" title="Likes">
                        {% if post.likes.count > 0 %}   
                            <img src="{% static "network/unlike.svg" %}" alt="likes" class="heart_icon_disabled">
                        {% else %}
                            <img src="{% static "network/like.svg" %}" alt="likes" class="heart_icon_disabled">
                        {% endif %}
                        <span id="likes_counter">
                            {{ post.likes.count }}
                        </span>
                    </div>
                {% endif %}
            </div> 
        {% endfor %}
    </div> 
{% endblock %}

{% block script %}
    <script src="{% static 'network/net.js' %}"></script>
{% endblock %}