{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="main_title_container">
        <h3>
            {{ title }}
        </h3>
    </div>

    <div class="content_container">
        {% if index and user.is_authenticated %}
            <div class="Post_container">
                <h4>
                    New Post
                </h4>
                <form id="post-form">
                    <textarea class="form-control" id="post-textarea"></textarea>
                    <input type="Submit" value="Post" class="btn btn-primary" style="margin-top: 10px;"/>
                </form>
            </div>
        {% elif user_ == "True" %}
            <div class="Post_container">
                <h4>
                    {{ requested_user.username }} profile
                </h4>
                <div class="container_1">
                    <h6>{{ requested_user.followers.count }} Followers</h6>
                    <h6>{{ requested_user.followings.count }} Followings</h6> 
                    
                    {% if user.is_authenticated and requested_user != request.user %}
                        <a href="" id="follow">Follow</a>
                    {% endif %}
                </div>
            </div>   
        {% endif %}


        {% for post in posts %}
            <div class="Post_container">
                <h5>
                    {{ post.title }}
                </h5>
                {% if request.user == post.creator %}
                    <a href="#">Edit</a>
                {% endif %}
                <p>
                    {{ post.content }}
                </p>
                <p id="post_creation_date">
                    {{ post.creation_date }} by <a href="{% url 'user' post.creator %}">{{ post.creator }}</a>
                </p>
                {% if user.is_authenticated %}
                <div class="likes_container" title="Like">  
                    {% if liked_post == 'False' %} 
                        <img src="{% static "network/like.svg" %}" alt="like" class="heart_icon">
                    {% else %}
                        <img src="{% static "network/unlike.svg" %}" alt="unlike" class="heart_icon">
                    {% endif %}
                    <span id="likes_counter">
                        {{ post.likes.count }}
                    </span>
                </div>
                {% else %}
                    <div class="likes_container_disabled" title="Likes">
                        {% if post.likes.count > 0 %}   
                            <img src="{% static "network/unlike.svg" %}" alt="likes" class="heart_icon_disabled">
                        {% else %}
                            <img src="{% static "network/like.svg" %}" alt="likes" class="heart_icon_disabled">
                        {% endif %}
                        <span id="likes_counter">
                            {{ post.likes.count }}
                        </span>
                    </div>
                {% endif %}
            </div> 
        {% endfor %}
    </div> 
{% endblock %}

{% block script %}
    <script src="{% static 'network/net.js' %}"></script>
{% endblock %}